%li{class: 'nav-header'}
  = "#{@country} (click for details)"
%br
%ul
  - @manufacturers.each do |manufacturer|
    %li
      %a{ href: "#", onclick: "olap.markers('#{@country}','#{manufacturer[0]}');" }
        = "#{manufacturer[0]}: #{manufacturer[1]}".html_safe
      %div{ id:"#{manufacturer[0].gsub(' ','')}" }

